body            { font-family: avenir; background-color: #333333; background-image: url('http://hdqwalls.com/wallpapers/blue-abstract-simple-background-qs.jpg')}
 h1, h2, h3, h4       { color: #fff; }
h1, h2          { font-family: 'avenir', serif; margin: 0; }
h2              { font-size: 1.2em; }

p               { color: #fff;}

a {text-decoration: none; color:#FFf; font-size: 1em;}

.pane {position:absolute; left: 25%; border: 2px solid;
    border-radius: 25px; padding: 5px; margin: 5px; border-color: #999999; background-color: #333333; }
.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.price {text-align: right; width:50%; float: right; }
.editdeletepane{}

.flash          { background: #cee5F5; }

.profilepic{
  position: fixed;
  top: 20;
  right: 20;
  width: 50px; 
  height: 50px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 2px solid white;
}

.profilename{
  position:fixed;
  top:10;
  right:90px;
}
/* Style buttons */
.button {
  border-radius: 3px;
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  font-size: 14px;
  padding: 3px;
  width: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
  
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 30;
}

