body            { font-family: avenir; background-color: #333333; background-image: url('http://hdqwalls.com/wallpapers/blue-abstract-simple-background-qs.jpg')}
 h1, h2, h3, h4       { color: #fff; }
h1, h2          { font-family: 'avenir', serif; margin: 0; }
h2              { font-size: 1.2em; }

p               { color: #000;}

a {text-decoration: none; coloR:white; font-size: 1em;}

.profilepic{
  position: fixed;
  top: 20;
  right: 20;
  width: 50px; 
  height: 50px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 2px solid white;
}

.profilename{
  position:fixed;
  top:10;
  right:90px;
}

.cardcontainer{
  display:table;
  width:77%;
  height: 100%px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin: 10px 10px 10px 10px;
}
.card{
  display: table-cell;
  height: 300px;
  width: 180px;
  box-shadow: 0px 5px 15px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
  background-color: #fff;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 10px 10px 10px 10px;
}
.cardbig{
  position:absolute;
  left:25%;
  height: 650px;
  width: 700px;
  box-shadow: 0px 5px 15px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
  background-color: #fff;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 10px 10px 10px 10px;
}


.creatorpic{
  float: right;
  width: 20px; 
  height: 20px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.creatorname{
  width:90px;
  display: table-cell;
}

.itemname{
  font-size:1.5em;
  text-align:center;
}
.categoryname{
  font-size:0.8em;
  text-align:center;
}

.categories_list{
  position: fixed;
  top: 100;
  right: 20;
}

.button {
  border-radius: 3px;
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  font-size: 14px;
  padding: 3px;
  width: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
  
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 30;
}

input:invalid {
  border: 2px dotted green ;
}

input:valid {
  border: 2px solid black;
}