<html>
<head>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Landing</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{%if 'username' not in login_session:%}

<a href = '{{url_for('showLogin') }}'style="position:fixed; top:50px; right:90px">login</a>


{%else:%}

<p class=profilename>{{login_session['username']}}</p>
<img src={{login_session['picture']}} class=profilepic > 
<a href = '{{url_for('gdisconnect') }}' style="position:fixed; top:50px; right:90px">logout</a>

{%endif%}

<h2>Categories</h2>

{% for c in categories %}

<div>

<a href = '{{url_for('categoryItems', category_name = c.name) }}'> {{c.name}}</a>

</div>

{% endfor %}

<h2>Latest Items</h2>

<a href = '{{url_for('newItem') }}'> New Item</a>

</br>
</br>

{% for i in items %}

<div>

    <a href = '{{url_for('itemDescription', category_name = i.category.name, item_name= i.name) }}'> {{i.name}}</a><p>({{i.category.name}})</p><p>({{i.user.name}})</p><img src={{i.user.picture}} style = "width: 20px; height: 20px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;"> 
<!-- se necesita two-way binding para saber la categoría basado en el item -->

</div>

{% endfor %}

</body>

</html>
